* 
{
	margin: 0;
	padding: 0;
}

body 
{
	/* background: #006699 top center url("../images/back.png") no-repeat; */
	color: #ffffff;
	font-family: Helvetica, Arial, Verdana, sans-serif;
	background: green;
}

/* Minsta bredd 600 pixels. */
@media screen and (min-width: 600px) 
{
	body 
	{
		background: #a1a1a1;
	}
}

/* Minsta bredd 960 pixels. */
@media screen and (min-width: 960px) 
{
	body 
	{
		background: #313d60;
	}
}

/* Print */
@media print 
{
	body 
	{
		background: none !important;
	}
}

h1 
{
	font-size: 2.6em;
	width: 100%; 
	color: #33ccff;
	text-shadow: 0 0 0.1em #000000, 0 0 0.1em #000000;
}

h2 
{
	font-size: 2em;
	letter-spacing: -1px;
	background: url("../images/headertwo.png") no-repeat;
	width: 100%;
	text-indent: -9999em;
	color: #33ccff;
	clear: both;
	margin: 15px 0;
}

h3
{
	position: absolute;
	color: #33ccff;
	margin-top: -2.6%;
}

h5 a:link, h5 a:visited 
{
	clear: both;
	color: #ffffff;
	text-decoration: none;
}

h5 a:hover, h5 a:active, h5 a:focus 
{
	border-bottom: 1px solid #fff;
}

h4 a
{
	background-color: #ff0000;
	margin-left: 44%;
	padding: 0.6%;
}

h4 a:link, h5 a:visited 
{
	color: #ffffff;
	text-decoration: none;
}

h4 a:hover, h5 a:active, h5 a:focus 
{
	border-bottom: 1% solid #fff;
}

/* Det vita strecket som skiljer postinläggen */
hr
{
	width: 94%;
}

p 
{
	font-size: 0.9em;
	line-height: 1.3em;
	font-family: Lucida Sans Unicode, Helvetica, Arial, Verdana, sans-serif;
}

p.error 
{
	background-color: #603131;
	border: 1px solid #5c2d2d;
	/* width: 260px; */
	padding: 10px;
	margin-bottom: 15px;
}

p.success 
{
	background-color: #313d60;
	border: 1px solid #2d395c;
	/* width: 260px; */
	padding: 10px;
	margin-bottom: 15px;
}

#container 
{
	max-width: 664px;
	margin: 5% 24%;
	text-align: center;
}

#boxtop 
{
	margin: 5% 0% 0% 0%;
	background: url("../images/top.png") no-repeat;
	width: 109%;
	height: 23px;
}

#boxbot h6
{
	margin-top: -1%;
	width: 95%;
}

#facebook 
{
	margin: 6px auto 1px;
	float: right;
}

#linkedin 
{
	margin: 4px 6px 0px 1px;
	float: right;
}

#page-links
{
	letter-spacing: 0.4px;
	margin: 1% 8%;
	margin-left: 10%;
	padding: 2%;
}

#page-links a:link, a:visited 
{
	color: #ffffff;
	text-decoration: none;
}

#page-links a:hover, a:active, a:focus 
{
	border-bottom: 1px solid #33ccff;
}

#image-link
{
	margin: 0px 6px 0px 1px;
	margin-left: 10px;
	padding: 4px;
}

#image-link a:link, a:visited
{
	color: #ffffff;
	text-decoration: none;
}

#image-link a:hover, a:active, a:focus 
{
	border-bottom: 1px solid #33ccff;
}

.imagename
{
	font-weight: bold;
	font-style: italic;
	margin-left: 660px;
}

#dotted-line 
{
	clear: both;
	margin: 6px auto 1px;
	border-bottom:1px solid black;
}
	
#boxbot 
{
	margin: 0.5% 0% 3% 0%;
	background: url("../images/fotter.png") no-repeat;
	width: 100%;
	padding: 15px;
}

#content 
{
	width: 100%;
	text-align: left;
	background: url("../images/bg.png") repeat-y;
	padding: 15px;
}
	
#content ul 
{
	margin-left: 0;
	margin-bottom: 15px;
}
		
#content ul li 
{
	list-style: none;
	clear: both;
	padding-top: 16px;
}
		
#content ul li: first-child 
{
	padding-top: 0;
}

.datum
{
	font-style: italic;
	font-size: 12px;
	color: #000000;
}

#allImages
{
	width: 100%;
 	border: 2px solid #ffffff;
}
		
.meta 
{
	width: 100%;
	text-align: left;
	float: left;
	min-height: 110px;
	font-weight: bold;
}
		
.meta img 
{
	padding: 5px;
	background-color: #000000;
}
			
.meta p 
{
	font-size: 0.8em;
}
		
.shout 
{
	width: 100%;
	float: left;
	margin-left: 15px;
	min-height: 110px;
	padding-top: 5px;
}

.topic
{
	clear: both;
	text-align: left;
	margin-bottom: 6px;
}

.categori
{
	color: #ffffff; 	
}
		
form 
{
	clear: both;
	margin-top: 4% !important; 
}
		
.fname, .femail 
{
	width: 100%;
	float: left;
}

.where
{
	clear: both;
}
			
form p 
{
	font-weight: bold;
	margin-bottom: 3px;
}

form select
{
	background-color: #313d60;
	border: 1px solid #3399cc;
	color: #3399cc;  
}

/* wtextarea = boxen som du skriver ditt inlägg i. */
textarea
{
	width: 90%;
}
			
form textarea 
{
	/* width: 365px; */
	overflow: hidden; 
}
		
form input, form textarea 
{
	background-color: #313d60;
	border: 1px solid #3399cc;
	color: #ffffff;
	padding: 5px;
	font-family: Lucida Sans Unicode, Helvetica, Arial, Verdana, sans-serif;
	margin-bottom: 10px;
}

h4 form input
{
	margin-bottom: 0.1%;
}
 
/* file = browse knappen. */
#file 
{
	margin-left: -1%;
	width: 74%;
	height: 8%;
	padding: 0% 1% 2% 0%;
}